.btn{
    margin-right: 1rem;
}

.markedAsDone{
    text-decoration: line-through;
    color: #777
}

.tableActions{
    width: 15rem;
    background-color: yellow;
}

.todoForm{
    padding-bottom: 7rem;
}