#app, html{
    background-color: #434243;
}

*{
    color: #D3D3D3;
}

.btn{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.markedAsDone{
    text-decoration: line-through;
    color: #777
}

.tableActions{
    width: 15rem;
    text-align: center;
}

.todoForm{
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navbar-nav{
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .todoForm{
        flex-direction: column;
    }
    .btn{
        margin-top: 0.8rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }
    input{
        text-align: center;
    }

}